body {
    background-color: black;
    text-align: center;
    font-family: "Verdana", sans-serif;
    color: white;
  }
  
  .cta {
    color: aquamarine;
    font-size: 20px;
  }
  
  h1 {
    font-size: 45px;
    font-weight: normal;
  }
  
  h2 {
    font-size: 40px;
    font-weight: 300;
  }
  
  p {
    font-size: 25px;
    color: gray;
  }
  
  .footer {
    text-align: right;
    margin-right: 10px;
  } 